//Ticket: CSS Checklisten korrigieren #10063
//
// Rausgenommen wegen: https://www.ldc-ticket.org/issues/10197
//
//.tabular label{
//  height: 20px;
//}

//Ticket: CSS Textboxen korrigieren #10064
.text_cf {
  height: 100px;
}

//Ticket: #10412 Hervorheben nächster schritt
.highlightNextStep,
.issue.details .attributes .cf_161 {
  background-color: #9b89cc2b;
  border-radius: 4px;
}

// Ticket: #11071 Tracker 8B Erledigt Status nicht durchstreichen
a.issue.tracker-32.closed::after{
  display: none;
}
